body {
    background: #fff; /*white*/
    color: #000; /*black*/
    font-family: Arial;
    font-size: 22px;
}
a {
    color: #000;
    text-decoration: none;
}
    a:visited {
        color: #4cff00;
    }

    a:focus {
        color: #94268c;
    }
/***************Bootstrap Overides****************************************/
.carousel-inner .item .images {
    width: 70%;
    margin: auto;
}

/*Removes gradient/shading behind the controls */
.carousel-control.left, .carousel-control.right {
    background-image: none;
    outline: 0;
    opacity: 1;
}

/*.carousel-caption {
    opacity: 0.5;
    color: #fff;
    background: #000;
}*/