body {
    background: #000000;
    color: #fff;
    font-family: Arial;
    font-size: 22px;
}
a {
    color: #000000;
    text-decoration: none;
}
    a:visited {
        color: #4cff00;
    }

    a:focus {
        color: #94268c;
    }

.carousel-inner .item .images {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    opacity: 0.5;
    color: #fff;
    background: #000;
}